
    
      <main>
        <h2>{{thread.title}}</h2>
        <p>{{thread.body}}</p>
        <small>Posted by {{thread.user.username}} on {{thread.createdAt}}</small>

        <hr>

        <h3>Comments</h3>
        {{#if thread.comments.length}}
            <ul>
                {{#each thread.comments}}
                    <li>
                        <p>{{this.body}}</p>
                        <small>Posted by {{this.user.username}} on {{this.createdAt}}</small>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No comments yet.</p>
        {{/if}}

        {{#if user}}
            <form action="/comments" method="POST">
                <textarea name="body" placeholder="Add a comment"></textarea>
                <input type="hidden" name="threadId" value="{{thread.id}}">
                <button type="submit">Post Comment</button>
            </form>
        {{else}}
            <p><a href="/login">Login</a> to post a comment.</p>
        {{/if}}
    </main>
